<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p> Mis à jours :{{lastUpdate |async  |date : 'yMMMMEEEEd'| uppercase}}</p>
      <ul class="list-group">
        <!-- <app-appareil *ngFor="let appareil of appareils"   [appareilName]="appareil.name"
        [appareilStatus]="appareil.status"></app-appareil> -->

      <app-post *ngFor="let post of posts" [titlepost] = "post.title" [contentpost]="post.content" [loveItspost]="post.loveIts" [createdDatepost]="post.created_at" ></app-post>
      </ul>
      <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllume()">Tout allumer</button>
    </div>
  </div>
</div>
